#title{
  background-color:#cddc39;
  color: White;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
#press{
background-color: #ef8172;
text-align: center;
padding-bottom: 3%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
body{
  font-family:"Montserrat";
}

h1{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: "Lato";
  font-size: 2.5rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#cddc39;
}
.carousel-item{
  padding: 7% 15%;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.download-button{
  margin:5% 3% 5% 0;
}
.feature-box{
  text-align: center;
}
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.press-logo{
  width:15%;
  margin: 20px 20px 50px;
}
.pricing-column{
  padding:3% 2%;
}
.temp_h2{
  font-family: "Lato";
  font-size: 1rem;
  line-height: 1.5;
}
.title-image{
  width:80%;

  position: absolute;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}
